In [8]:
# Working with series in pandas

import pandas as pd

ser=pd.Series([1.25,1.55,1.75,2.25,2.55,2.75], index=['a','b','c','d','e','f'])
print(ser)

ser1=ser+5
print("  ")
print(ser1)

a    1.25
b    1.55
c    1.75
d    2.25
e    2.55
f    2.75
dtype: float64

a    6.25
b    6.55
c    6.75
d    7.25
e    7.55
f    7.75
dtype: float64

In [9]:
# filering series data
ser3=ser1[ser1>2]
print(ser3)

a    6.25
b    6.55
c    6.75
d    7.25
e    7.55
f    7.75
dtype: float64

In [10]:
# Comparing series in pandas along with numpy

import numpy as np
import pandas as pd
arr=np.array([10,20,30,40,50])

s=pd.Series(arr)

In [11]:
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
s1=np.sqrt(s)

In [13]:
print(s1)

0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [14]:
# Finding number of elements in a series
import pandas as pd
s1=pd.Series([10,20,30,40,50,60])
print("Series is: ",s1)
print("Size of series is: ", s1.size)

Series is:  0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
Size of series is:  6

In [15]:
# Finding average of elements in a series
import pandas as pd

s1=pd.Series([10,20,30,40,50,60])

print(s1.mean())

35.0

In [16]:
print(s1.max())

60

In [17]:
print(s1.min())

10

In [18]:
# Sorting a series
ser=pd.Series([40,11,32,45,60,30,20,25])
print("Series Before Sorting:", ser)

print("Series After Sorting: ",ser.sort_values())
print("Series After Sorting: ",ser.sort_values(ascending=False))

Series Before Sorting: 0    40
1    11
2    32
3    45
4    60
5    30
6    20
7    25
dtype: int64
Series After Sorting:  1    11
6    20
7    25
5    30
2    32
0    40
3    45
4    60
dtype: int64
Series After Sorting:  4    60
3    45
0    40
2    32
5    30
7    25
6    20
1    11
dtype: int64

In [19]:
# Displaying Unique values in a series

import pandas as pd

# unique
s1=pd.Series([10,20,30,20,10,20])
print("Unique values:",s1.unique())

Unique values: [10 20 30]

In [20]:
# nunique
print("No_of unique values:",s1.nunique())

No_of unique values: 3

In [21]:
# Stastistics summary a series
# describe()

In [22]:
import pandas as pd
s1=pd.Series([10,20,30,40,50,60])
print("Summary Statistics: \n ", s1.describe())

Summary Statistics:
  count     6.000000
mean     35.000000
std      18.708287
min      10.000000
25%      22.500000
50%      35.000000
75%      47.500000
max      60.000000
dtype: float64

In [27]:
'''
Write a NumPy program that reads a CSV file containing data about a group of students (ID, name, grade) and computes the average grade for each student.

Create the CSV file with the following data :

ID,Name,Grade

1,Alice,90

2,Bob,85

3,Charlie,75

4,Dave,95

5,Eve,80
'''

import numpy as np

data = np.genfromtxt('students.csv', delimiter=',', names=True)

grades = data['GRADE']

average_grade = np.mean(grades)
print("Average grade for all students:", average_grade)

unique_ids = np.unique(data['ID'])
for student_id in unique_ids:
    student_grades = grades[data['ID'] == student_id]
    student_average_grade = np.mean(student_grades)
    student_name = data['NAME'][data['ID'] == student_id][0]
    print(f"Average grade for {student_name}: {student_average_grade}")

Average grade for all students: 85.0
Average grade for nan: 90.0
Average grade for nan: 85.0
Average grade for nan: 75.0
Average grade for nan: 95.0
Average grade for nan: 80.0