In [1]:
# Create an empty dataframe
import pandas as pd 
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
# Create dataframes from series

import pandas as pd 
# s=pd.Series(['a','b','c','d'])
# df=pd.DataFrame(s)
name=pd.Series(['Rohit','Virat','Dhoni'])
team=pd.Series(['MI','RCB','CSK'])
dic={'name':name,'Team':team}
df=pd.DataFrame(dic)
print(df)

    name Team
0  Rohit   MI
1  Virat  RCB
2  Dhoni  CSK

In [6]:
# Creating dataframe from List of dictionaries

l=[{'Name':'Virat', 'SirName':'Tendulkar'},
   {'Name':'Rohit','SirName':'Sharma'},
   {'Name':'Virat','SirName':'Kohli'}
  ]
df=pd.DataFrame(l)
print(df)

    Name    SirName
0  Virat  Tendulkar
1  Rohit     Sharma
2  Virat      Kohli

In [7]:
# Access data row-wise and column-wise

for (row_index,row_value ) in df.iterrows():
    print("\n Row Index is: ",row_index)
    print("\n Row Value is: ",row_value)

 Row Index is:  0

 Row Value is:  Name           Virat
SirName    Tendulkar
Name: 0, dtype: object

 Row Index is:  1

 Row Value is:  Name        Rohit
SirName    Sharma
Name: 1, dtype: object

 Row Index is:  2

 Row Value is:  Name       Virat
SirName    Kohli
Name: 2, dtype: object

In [8]:
for (col_index,col_value ) in df.iteritems():
    print("\n Col Index is: ",col_index)
    print("\n Col Value is: ",col_value)

 Col Index is:  Name

 Col Value is:  0    Virat
1    Rohit
2    Virat
Name: Name, dtype: object

 Col Index is:  SirName

 Col Value is:  0    Tendulkar
1       Sharma
2        Kohli
Name: SirName, dtype: object

In [18]:
# Add, Rename and Delete a column

import pandas as pd

ser=pd.Series([10,20,30,40])
df=pd.DataFrame(ser)
df.columns=['List1']
print(df)

# add
df['List2']=([15,25,35,45])
print(df)

df['List3']=df['List1']+df['List2']
print(df)

# delete

# del df['List3']
# df.pop('List3')
# print(df)


# Delete the column using drop method
# df1=df.drop('List2',axis=0)    #Delete data row-wise

df1=df.drop('List2',axis=1)  #Delete data column-wise
print(df1)

   List1
0     10
1     20
2     30
3     40
   List1  List2
0     10     15
1     20     25
2     30     35
3     40     45
   List1  List2  List3
0     10     15     25
1     20     25     45
2     30     35     65
3     40     45     85
   List1  List3
0     10     25
1     20     45
2     30     65
3     40     85

In [23]:
# Boolean indexing in DataFrame

import pandas as pd 
dic={'Name':['Ram','Sita','Hari'], 'Age':[26,22,24]}
df=pd.DataFrame(dic)
print(df)
# Assigning boolean indexing
df=pd.DataFrame(dic,index=[True,False,True])
print(df.loc[True])

   Name  Age
0   Ram   26
1  Sita   22
2  Hari   24
      Name  Age
True   Ram   26
True  Hari   24

In [28]:
# Concatenating dataframes

import pandas as pd 
dic1={'Name':['Ram','Sita','Hari'], 'Age':[26,22,24]}
dic2={'Name':['Gita','Shyam'], 'Age':[23,21]}

df1=pd.DataFrame(dic1)
print(df1)
print('\n-------------------------')
df2=pd.DataFrame(dic2)
print(df2)
print('\n -------------------------')
# Concatenation 
df3=pd.concat([df1,df2])
print(df3)

   Name  Age
0   Ram   26
1  Sita   22
2  Hari   24

-------------------------
    Name  Age
0   Gita   23
1  Shyam   21

 -------------------------
    Name  Age
0    Ram   26
1   Sita   22
2   Hari   24
0   Gita   23
1  Shyam   21