In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('premium.csv')

In [3]:
df

   age  Premium
0   25    18000
1   30    22000
2   35    40000
3   40    47000
4   45    56000
5   50    67000

In [4]:
x=df['age']

In [5]:
y=df['Premium']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [8]:
x_train

2    35
5    50
1    30
0    25
Name: age, dtype: int64

In [9]:
x_test

4    45
3    40
Name: age, dtype: int64

In [10]:
y_train

2    40000
5    67000
1    22000
0    18000
Name: Premium, dtype: int64

In [11]:
y_test

4    56000
3    47000
Name: Premium, dtype: int64